@model IEnumerable<JobSpot.Models.JobPosting>
@using JobSpot.Constants

@{
    ViewData["Title"] = "Job Postings";
}

<h1 class="text-center m-5">All Jobs</h1>

<div class="list-group">

    @foreach (var jobPosting in Model)
    {
        <div class="list-group-item">
            <h3>@jobPosting.Title</h3>
            <p>@jobPosting.Description</p>
            <p><strong>Company:</strong> @jobPosting.Company</p>
            <p><strong>Location:</strong> @jobPosting.Location</p>
            <p><strong>Posted Date:</strong> @jobPosting.PostedDate.ToShortDateString()</p>
            @* <p><strong>Is Approved:</strong> @(jobPosting.IsApproved ? "Yes" : "No")</p> *@

            @if(User.IsInRole(UserRoles.Admin) || User.IsInRole(UserRoles.Employer))
            {
   @*              <a asp-action="Edit" asp-route-id="@jobPosting.Id" class="btn btn-secondary">Edit</a>
                <a asp-action="Delete" asp-route-id="@jobPosting.Id" class="btn btn-danger">Delete</a> *@
                <div>
                    <button onclick="deleteJobPosting" class="btn-sm btn-danger">Delete</button>
                </div>
            }


        </div>
    }
</div>

<h2 class="text-center m-lg-5">All Jobs v.2</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Posted Date</th>
            <th>Is Approved</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td>@job.Title</td>
                <td>@job.Company</td>
                <td>@job.Location</td>
                <td>@job.PostedDate.ToShortDateString()</td>
                <td>@job.IsApproved</td>
                <td>
                    <a asp-action="Details" asp-route-id="@job.Id">Details</a> |
                    <a asp-action="Edit" asp-route-id="@job.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@job.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Create New</a>

@section Scripts {
    <script>
        function deleteJobPosting(id){
            confirm("Are you sure you want to delete this job posting?");
        }
    </script>
}
